/* card design */

.card-1 {
  background-color: #f5f8fe !important;
  border-radius: 20px !important;
  padding: 20px 20px;
  color: #bbbed1;
  transition: all 0.5s;
  margin-top: 40px;
}

.card-1 .img {
  display: flex;
}

.card-1 .img img {
  height: 44px;
  vertical-align: middle;
}

.card-1 .img span,
.card-1 .img div {
  /* margin-left: 20px; */
  font-weight: bold;
  color: #1b1b54;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.card-1 .top-right {
  float: right;
}

.card-1 .sm {
  font-size: 14px;
}

/* if card is active or is in hover mode */
.card-1:hover,
.card-1.active {
  box-shadow: 0 0 20px 0 #d8d8d8;
}

/* button used under the card */
.card-1 .block {
  border-top: 1px solid #bbbed1;
  padding: 12px;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 300;
}
