.sub-panel {
  background-color: #fff3f1 !important;
  border-radius: 20px !important;
  padding: 40px;
  color: #1b1b54;
  transition: all 0.5s;
  animation-duration: 0.5s;
  animation-name: run;
  position: fixed;
  width: 33%;
  height: calc(100% - 120px);
}

.sub-panel h1,
.sub-panel h2,
.sub-panel h3 {
  color: #1b1b54;
}

@keyframes run {
  0% {
    left: 100%;
  }
  100% {
    left: 58%;
  }
}

.sub-panel .table tr + tr {
  margin-top: 20px;
}

.sub-panel .table tr td {
  border: 0 !important;
}

.sub-panel .table {
  color: #1b1b54;
}

.addSubcat-btn {
  border: 1px dashed #1b1b54;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

.sub-panel-mask {
  display: none;
}
